.jumbotron{
    background-color: #85144b;
    color: white;
}

.blink_me{
    animation: blinker 2s linear infinite;
    color: gold;
}

@keyframes blinker {
    50% {opacity: 0;}
}

.col-8{
    display: inline-block;
}